{% extends 'testing.html.twig' %}
{% block content %}

    <div class="page-heading contact-heading header-text" style="background-image: url(../eltemp/assets/images/heading-4-1920x500.jpg);">

        <div class="container">
            <div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('update') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('delete') %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Liste des Questions pour quiz : {{ nomquiz }}</h4>
                    </div>
                </div>
            </div>
            <div class="col" align="center" >
                <table border="1" class="table table-striped table-hover table-secondary">
                    <tr>
                        <th scope="row">#</th>
                        <th scope="col">body</th>
                        <th scope="col">nbr rep</th>
                        <th scope="col">quiz</th>
                        <th scope="col">Action</th>
                    </tr>
                    {% for qst in questions %}
                        <tr>
                            <td scope="col">{{ qst.id}}</td>
                            <td>{{ qst.body}}</td>
                            <td>{{ qst.nbrrep }}</td>
                            <td>
                                {% if qst.quiz != null %}
                                    {{ qst.quiz.titre }}
                                {% endif %}
                            </td>
                            <td><a href="{{ path ('editQuest',{'id':qst.id}) }}"><button class="btn btn-info"><i class="fa fa-edit"></i></button></a>
                                <a href="{{ path ('deleteQuest',{'id':qst.id}) }}"><button class="btn btn-danger"> <i class="fa fa-trash"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ path('addQuest') }}"> <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Ajouter Une quesion</button></a>
            </div>
        </div>
    </div>

{% endblock %}