{% extends 'testing.html.twig' %}
{% block content %}
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-01">
                <div class="text-content">
                    <h4>The future depends on what <b>you</b> do today.</h4>
                    <h2>“Opportunities don't happen, you <b>create</b> them.”</h2>
                </div>
            </div>
            <div class="banner-item-02">
                <div class="text-content">
                    <h4>The future depends on what <b>you</b> do today.</h4>
                    <h2>“Opportunities don't happen, you <b>create</b> them.”</h2>
                </div>
            </div>
            <div class="banner-item-03">
                <div class="text-content">
                    <h4>The future depends on what <b>you</b> do today.</h4>
                    <h2>“Opportunities don't happen, you <b>create</b> them.”</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Jobs Offers</h2>
                        <a href="{{ path('affichfrontoffre') }}">view more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                {% for f in em %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <img style="height:200px; width:340px" src="/assets/images/properties/{{ f.imageName}}" alt="" >
                            <div class="down-content">
                                <h4>{{ f.type }}</h4>
                                <h4>{{ f.noms}}</h4>
                                <h4>{{ f.mailen}}</h4>
                                <h4><small>
                                        <strong><i class="fa fa-building"></i> {{ f.departement }}</strong>
                                <br> <strong><i class="fa fa-building"></i> {{ f.datedeb |date("d-m-Y") }}</strong></small></h4>

                                <small>
                                    <strong><a title="Type" href="{{ path("commentaire",{"id":f.id}) }}"><i class="fa fa-file" ></i> detaille</a></strong> &nbsp;&nbsp;&nbsp;&nbsp
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Formation</h2>
                        <a href="{{ path('frontformation') }}">view more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                {% for formation in f %}
                    <div class="col-md-4 ">
                        <div class="product-item ">
                            <img src="{{ asset('uploads/images/') }}{{formation.image}}" alt="" >
                            <div class="down-content">
                                <a ><h4>{{formation.nom }}</h4></a>
                                <h6><b>Prix</b> {{formation.prix}} TND</h6>
                                <h6><i class="fa fa-clock-o"></i> Nombre des Heures : {{formation.nbrheures}}</h6>
                                <h4><i class="fa fa-calendar"></i> {{ formation.datedeb|date("m/d/Y") }}</h4>
                                <small>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="{{ asset('uploads/images/') }}{{ formation.id }}{{ formation.nom ~'.png' }}" height="100px" width="100px"/>
                                        </div>
                                        <div class="col-sm-6"><strong><a title="Type" href="{{ path("commantaire",{"id":formation.id}) }}" class="btn btn-primary btn-lg btn-block"> detaille</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>

        </div>
    </div>
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Evenemetns :</h2>
                        <a href="{{ path('afficherEE') }}">view more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                {% for e in ev %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="{{ path("detailE",{"id":e.id}) }}" name="detail"><img src="{{ asset('uploads/images/' ~ e.image)}}"
                                                                                           style="height:200px; width:348px"></a>
                            <div class="down-content">

                                <h6>{{ e.prix }} DT</h6>

                                <h4><small><i class="fa fa-briefcase"></i> {{ e.type }} <br> <strong><i class="fa fa-building"></i>
                                            {{ e.nom }}</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> {{ e.date|date('d-m-Y') }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> Tunisia</strong>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor%}
            </div>

        </div>
    </div>


{% endblock %}