<!DOCTYPE html>
<html lang="en">
{# {% if app.user.role == "admin" %}
    <script>window.location.href ='/'</script>
{% endif %}  #}
<head>
    {% block css %}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />

        <title>{% block title %}Empacteers Admin{% endblock %}</title>
        <!-- Bootstrap -->
        <link href={{ asset("../vendors/bootstrap/dist/css/bootstrap.min.css") }} rel="stylesheet">
        <!-- Font Awesome -->
        <link href={{ asset("../vendors/font-awesome/css/font-awesome.min.css") }} rel="stylesheet">
        <!-- NProgress -->
        <link href={{ asset("../vendors/nprogress/nprogress.css") }} rel="stylesheet">
        <!-- iCheck -->
        <link href={{ asset("../vendors/iCheck/skins/flat/green.css") }} rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />





        <!-- bootstrap-progressbar -->
        <link href={{ asset("../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css") }} rel="stylesheet">
        <!-- JQVMap -->
        <link href={{ asset("../vendors/jqvmap/dist/jqvmap.min.css") }} rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href={{ asset("../vendors/bootstrap-daterangepicker/daterangepicker.css") }} rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href={{ asset("../build/css/custom.min.css") }} rel="stylesheet">
    {% endblock %}

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('back_office') }}" class="site_title"><i class="fa fa-trophy"></i> <span>Impacteers</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">

                    <div class="profile_info">
                        <span>Welcome :</span>
                        <h2>{{ app.user.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a  href={{ path('back_office') }}><i class="fa fa-home"></i> Home</a>

                            </li>
                            <li><a><i class="fa fa-users"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path("afficherUser") }}">Gestion des Utilisateurs</a></li>
                                    <li><a href="{{ path("afficherSociete") }}">Table Societe</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-money"></i> Offres <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('affichbackoffre') }}">Liste des offres</a></li>
                                    <li><a href="#">Liste</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-bullhorn"></i> Evenements <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path("afficherE") }}">Evenement</a></li>
                                    <li><a href="{{ path("afficherS") }}">Sponseur</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-comment"></i> Entretien <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('entretientBack') }}">Liste des Entretiens</a></li>
                                    <li><a href="#">Liste</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-list-ol"></i> Candidatures <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('backquiz') }}">liste des quiz</a></li>
                                    <li><a href="{{ path('participationback') }}">Liste de tous les candidats</a></li>
                                </ul>
                            </li>


                            <li><a><i class="fa fa-graduation-cap"></i> Formations <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('les categories') }}">Categories</a></li>
                                    <li><a href="{{ path('les_formateurs') }}">Formateurs</a></li>
                                    <li><a href="{{ path('les_formations') }}">Formations</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {#  <div class="menu_section">
                        <h3>Live On</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="e_commerce.html">E-commerce</a></li>
                                    <li><a href="projects.html">Projects</a></li>
                                    <li><a href="project_detail.html">Project Detail</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="page_403.html">403 Error</a></li>
                                    <li><a href="page_404.html">404 Error</a></li>
                                    <li><a href="page_500.html">500 Error</a></li>
                                    <li><a href="plain_page.html">Plain Page</a></li>
                                    <li><a href="login.html">Login Page</a></li>
                                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#level1_1">Level One</a>
                                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                                            </li>
                                            <li><a href="#level2_1">Level Two</a>
                                            </li>
                                            <li><a href="#level2_2">Level Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#level1_2">Level One</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                        </ul>
                    </div>  #}

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>

                    <div class=" navbar-right">
                    {% block notification %}{% endblock %}
                    </div>

            </div>
        </div>

        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}
        {% endblock %}
        <!-- /page content -->


    </div>
</div>

{% block js %} {% endblock %}
    <!-- jQuery -->
    <script src="{{ asset("../vendors/jquery/dist/jquery.min.js") }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset("../vendors/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
    <!-- FastClick -->
    <script src="{{ asset("../vendors/fastclick/lib/fastclick.js") }}"></script>
    <!-- NProgress -->
    <script src="{{ asset("../vendors/nprogress/nprogress.js") }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset("../vendors/Chart.js/dist/Chart.min.js") }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset("../vendors/gauge.js/dist/gauge.min.js") }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset("../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js") }}"></script>
    <!-- iCheck -->
    <script src="{{ asset("../vendors/iCheck/icheck.min.js") }}"></script>
    <!-- Skycons -->
    <script src="{{ asset("../vendors/skycons/skycons.js") }}"></script>
    <!-- Flot -->
    <script src="{{ asset("../vendors/Flot/jquery.flot.js") }}"></script>
    <script src="{{ asset("../vendors/Flot/jquery.flot.pie.js") }}"></script>
    <script src="{{ asset("../vendors/Flot/jquery.flot.time.js") }}"></script>
    <script src="{{ asset("../vendors/Flot/jquery.flot.stack.js") }}"></script>
    <script src="{{ asset("../vendors/Flot/jquery.flot.resize.js") }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset("../vendors/flot.orderbars/js/jquery.flot.orderBars.js") }}"></script>
    <script src="{{ asset("../vendors/flot-spline/js/jquery.flot.spline.min.js") }}"></script>
    <script src="{{ asset("../vendors/flot.curvedlines/curvedLines.js") }}"></script>
    <!-- DateJS -->
    <script src="{{ asset("../vendors/DateJS/build/date.js") }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset("../vendors/jqvmap/dist/jquery.vmap.js") }}"></script>
    <script src="{{ asset("../vendors/jqvmap/dist/maps/jquery.vmap.world.js") }}"></script>
    <script src="{{ asset("../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js") }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset("../vendors/moment/min/moment.min.js") }}"></script>
    <script src="{{ asset("../vendors/bootstrap-daterangepicker/daterangepicker.js") }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset("../build/js/custom.min.js") }}"></script>

    <script>
        function myFunction() {
            alert("do you want to remove this societe ?");
        }
    </script>
    <script>
        $(document).ready(function() {
            var activeSystemClass = $('.list-group-item.active');
            $('#system-search').keyup( function() {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each( function(i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if(inputText != '')
                    {
                        $('.search-query-sf').remove();
                        tableBody.prepend('<tr class="search-query-sf"><strong>Searching for: "'
                            + $(that).val()
                            + '"</strong></tr>');
                    }
                    else
                    {
                        $('.search-query-sf').remove();
                    }
                    if( rowText.indexOf( inputText ) == -1 )
                    {
                        tableRowsClass.eq(i).hide();
                    }
                    else
                    {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                if(tableRowsClass.children(':visible').length == 0)
                {
                    tableBody.append('<td class="search-sf">Aucune resultat correspond à votre recherche.</td>');
                }
            });
        });
    </script>


</body>
</html>



