{% extends 'back.html.twig' %}
{% block content %}
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

<div class="right_col">
    <div class="container">
        <div class="page-title">
        <h1>Information de nos formateurs</h1>
        </div>
    <br>
    <br>

        <div class="container">
            <div class="row">
                <div class="col col-sm ">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                </div>
            </div>
            </br>
        </div>
        <div class="container">



    <table border="2" CELLPADDING="4" CELLSPACING="4" WIDTH="100%"class=" table-dark">


    <thead>
    <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
        <th>numtel</th>
        <th>image</th>
        <th>Action</th>

    </tr>



    </thead>
        <tbody id="allTTTT">

            {% for formateur  in formateurs %}

                <tr>

                <td>{{ formateur.nom }}</td>
                <td>{{ formateur.prenom }}</td>
                <td>{{ formateur.email }}</td>
                <td>{{ formateur.numtel }}</td>
                <td><img height="100px" width="100px" src="{{ asset('uploads/images/') }}{{formateur.image}}"></td>
                <td> <a href="{{ path("modifierF",{"id":formateur.id}) }}" class="btn btn-outline-warning" role="button" aria-pressed="true">Modifier</a>
                <a href="{{  path("suprimerF",{"id":formateur.id}) }}" class="btn btn-outline-danger" role="button" aria-pressed="true">Suprimer</a></td>


                </tr>

            {% endfor %}
        </tbody>

        <tbody id="searchTTT">

        </tbody>






        </table>
    </div>
    <br />

    <td> <a href="{{ path("ajouterF") }}" class="btn btn-outline-success" role="button" aria-pressed="true" >Ajouter</a></td>


        <style>
            h1 {
                background: linear-gradient(to right, #36ecde, #000);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        </style>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script>
            $( document ).ready(function() {
                $("#search").keyup(function(e){
                    /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                    var value = $(this).val();
                    $.ajax({
                        /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                        url : "{{ path('searchformateur') }}",
                        /* La méthode utilisée pour transférer les données est GET */
                        type : 'GET',
                        /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                        data: {
                            'searchValue' : value
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#searchTTT').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#allTTTT').hide();
                                    $('#searchTTT').append('<tr><td> '+obj.id+'  </td><td> '+obj.nom+'  </td><td> '+obj.prenom+'  </td><td>    '+obj.email+'  </td><td>'+obj.numtel+' </td><td><a class="btn btn-outline-warning" href="modifierF/'+obj.id+'">modifier</a> <a class="btn btn-outline-danger" href="suprimerF/'+obj.id+'">supprimer</a></td></tr>');
                                });
                            }
                            else
                            {
                                $('#allTTTT').show();
                                $('#searchTTT').empty();
                                $('#searchTTT').fadeIn('fast');
                            }
                        },
                    });
                    return false;
                });
            });
        </script>




    {% endblock %}